@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background-color: $color-dark;
  background-image: url('/images/pipeline-viz-bg.png');
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7.5rem 3.5rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 1rem 1.5rem;
    text-align: center;
  }
}

.inner {
  margin: 0 auto;
  max-width: $max-content;
}

.sectionTitle {
  @include display-xs;

  font-weight: 500;
  margin-bottom: 1.75rem;
  text-align: center;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  @include button($size: normal-pill, $style: secondary);
}
