@import '../../styles/variables';
@import '../../styles/mixins';

.outer {
  background: $color-dark;
  padding: 7rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7rem 5rem;
  }

  @include breakpoint(small) {
    padding: 4rem 2rem 4rem;
  }
}

.inner {
  background: $color-dark;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  line-height: 6rem;
  display: flex;
  margin: 0 auto;
  max-width: $max-content;
}

.sectionTitle {
  @include h1;

  margin-bottom: 8rem;
  text-align: center;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
    padding: 0;
  }
}

.right {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.company {
  align-items: center;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

.company a {
  height: 120px;
}

.link {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
