@import '../../../styles/variables';
@import '../../../styles/mixins';

$shared-element-width: 520px;

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  margin: ($header-height * 2) auto 7.5rem;
  max-width: $max-content;
  overflow: hidden;
  position: relative;

  @include breakpoint(small) {
    align-items: center;
    flex-direction: column;
    height: 580px;
    margin: $header-height auto 0;
    padding: 2.5rem 1rem 0;
    text-align: center;
  }
}

.row {
  display: flex;
}

.info {
  margin-top: -4rem;
  width: 65%;
  z-index: 2;

  @include breakpoint(medium-only) {
    width: 72%;
  }

  @include breakpoint(small) {
    margin-top: 0;
    max-width: $shared-element-width;
    width: 100%;
  }
}

.title {
  @include display-2xl;

  @include breakpoint(medium-only) {
    @include display-xl;
  }

  @include breakpoint(small) {
    @include display-md;

    margin: 0 auto;
    max-width: 80%;
  }
}

.outerHeader {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  @include breakpoint(small) {
    justify-content: center;
  }
}

.animatingWord {
  overflow: hidden;
  width: $shared-element-width;

  @include breakpoint(medium-only) {
    width: 100%;
  }

  @include breakpoint(small) {
    height: 40px;
    margin-right: 0;
    width: 100%;
  }
}

.subtitle {
  @include text-xl;

  font-weight: 400;
  margin: 2.25rem 0;
  max-width: $shared-element-width;

  @include breakpoint(small) {
    margin: 1.5rem auto 2.5rem;
    max-width: 90%;
  }
}

.buttons {
  display: flex;

  @include breakpoint(small) {
    align-items: center;
    flex-direction: column;
  }
}

.buttonWrapper {
  overflow: hidden;
  position: relative;

  @include breakpoint(medium-up) {
    margin-right: 2rem;
  }

  @include breakpoint(small) {
    margin-bottom: 1.25rem;
  }
}

.start {
  @include button;

  @include breakpoint(small) {
    padding: 0 1rem;
    width: 12.125rem;
  }
}

.letsGo {
  @include button;

  background-color: transparent;
  border: 3px solid $color-accent;
  color: $color-accent;
  left: 0;
  position: absolute;
  top: 0;
}

.tutorial {
  @include button($style: outline);

  transition: box-shadow $transition-time ease;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-font;
  }
}

.image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 37rem;

  @include breakpoint(small) {
    left: 45%;
    right: unset;
    top: 23.5rem;
    transform: translate(0, 0);
    width: 18rem;
  }
}
