@import '../../styles/variables';
@import '../../styles/mixins';

.outer {
  background-color: $color-bg-grey;
  padding: 5rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 5rem 3.5rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 1rem 1.5rem;
  }
}

.inner {
  display: flex;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(small) {
    flex-wrap: wrap;
  }
}

.sticky,
.questions {
  width: 50%;

  @include breakpoint(small) {
    width: 100%;
  }
}

.sticky {
  height: 200px;
  margin-right: 2rem;
  position: sticky;
  top: $header-height + 20px;

  @include breakpoint(small) {
    height: auto;
    margin-bottom: 2.125rem;
    margin-right: 0;
    position: relative;
    top: auto;
  }

  h3 {
    @include display-xs;

    margin: 0 0 1.75rem;
  }

  p {
    @include text-lg;
  }

  a {
    text-decoration: underline;
    transition: color $transition-time ease;

    &:hover {
      color: $color-accent;
    }
  }
}

.questions hr {
  border: 0;
  border-top: 1px solid $color-black-divider;
  height: 1px;
  margin: 0;
  width: 100%;
}

.toggleAll {
  @include text-sm;

  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: right;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.accordionWrapper {
  overflow: hidden;
  width: 100%;
}

.accordionHeader {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  > h4 {
    @include text-xl;

    flex-grow: 1;
    margin: 0 2rem 0 0;
  }

  > svg {
    fill: $color-font;
    flex-shrink: 0;
  }
}

.answer {
  padding-bottom: 1rem;
  transform-origin: top center;

  a {
    text-decoration: underline;
    transition: color $transition-time ease;

    &:hover {
      color: $color-accent;
    }
  }

  p:first-of-type,
  ul {
    margin-top: 0;
  }

  > * {
    @include text-md;

    max-width: 528px;

    @include breakpoint(small) {
      max-width: 85%;
    }
  }
}
