@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
  grid-template-columns: 24rem 39rem 10rem;
  grid-template-areas:
    'category category category'
    'title description authorWrapper';
  position: relative;

  padding: 1.5rem 1.35rem 3rem;

  @include breakpoint(medium-only) {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.35rem 3rem;
  }

  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
  }
}

.imageWrapper {
  left: 4rem;
  opacity: 0.5;
  opacity: 0;
  position: absolute;
  top: -1.2rem;
  transition: visibility 0s linear 300ms, opacity 300ms;
  visibility: hidden;
  z-index: -1;

  @include breakpoint(small) {
    top: -0.2rem;
  }
}

.imageWrapperShown {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms !important;
  visibility: visible;
}

.category {
  @include text-sm;

  color: $color-grey-500;
  font-weight: 500;
  grid-area: category;
  margin: 0;

  @include breakpoint(small) {
    @include text-xs;

    margin-bottom: 0;
  }
}

.title {
  @include text-xl;

  cursor: pointer;
  font-weight: 500;
  grid-area: title;
  margin: 0;

  &:hover {
    text-decoration-line: underline;
  }

  @include breakpoint(small) {
    @include text-lg;
  }
}

.description {
  @include text-md;

  color: $color-grey-900;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.authorWrapper {
  @include text-sm;
  grid-area: authorWrapper;
}

.author {
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 0;

  @include breakpoint(small) {
    margin-top: 0.5rem;
  }
}

.date {
  color: $color-grey-500;
  margin-top: 0;
}

.container:nth-of-type(1) {
  &:before {
    content: '';
    border-bottom: solid 1px $color-grey-500;
    left: 1.35rem;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @include breakpoint(small) {
    margin-top: 0;

    &::before {
      display: none;
    }
  }
}

.container:after {
  content: '';
  border-bottom: solid 1px $color-grey-500;
  left: 1.35rem;
  opacity: 0.15;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;

  @include breakpoint(small) {
    left: 0;
  }
}
