@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  margin: 0 auto;
  max-width: $max-content;
  margin-bottom: 10rem;

  @include breakpoint(small) {
    margin-bottom: 5rem;
  }

  &.center {
    text-align: center;

    .subtitle {
      margin: 0 auto 6.75rem;
      max-width: 1000px;

      @include breakpoint(small) {
        margin: 0 auto 2.5rem;
      }
    }

    .button {
      @include button($size: large, $style: primary);
    }

    .asset {
      margin-bottom: 5.25rem;

      @include breakpoint(small) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &.left {
    flex-direction: row-reverse;
  }

  &.right {
    & .iframe {
      margin-left: -55px;
    }
  }

  &.left,
  &.right {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @include breakpoint(small) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    .text {
      max-width: 37%;

      @include breakpoint(small) {
        max-width: unset;
        width: 100%;
      }
    }

    .asset {
      max-width: 660px;

      @include breakpoint(small) {
        max-width: unset;
        width: 100%;
      }
    }

    .subtitle {
      margin-bottom: 2.75rem;

      @include breakpoint(small) {
        margin-bottom: 2.5rem;
      }
    }

    .text .buttonWrapper {
      @include breakpoint(large) {
        display: block;
      }

      @include breakpoint(medium-only) {
        display: block;
      }

      @include breakpoint(small) {
        display: none;
      }
    }

    .buttonWrapper {
      @include breakpoint(large) {
        display: none;
      }

      @include breakpoint(medium-only) {
        display: none;
      }
    }
  }
}

.title {
  @include h2;

  margin-top: 0;
  margin-bottom: 2rem;

  @include breakpoint(small) {
    letter-spacing: $letter-spacing-narrow;
    margin-bottom: 1rem;
  }
}

.subtitle {
  @include h3;

  @include breakpoint(small) {
    padding: 0 1rem;
  }

  > a {
    text-decoration: underline;
  }
}

.iframe {
  width: 770px;

  @include breakpoint(medium-only) {
    width: 460px;
  }

  @include breakpoint(small) {
    display: none;
  }
}

.iframeFallback {
  @include breakpoint(medium-up) {
    display: none;
  }
}

.asset {
  @include breakpoint(small) {
    order: 10; // Images should be the last thing in the section on mobile.
    padding: 0 1rem;
  }
}

.buttonWrapper {
  @include breakpoint(small) {
    margin-bottom: 2.5rem;
  }
}

.button {
  @include button($style: underline);
}
