@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  max-width: $max-content;
  overflow: hidden;
  position: relative;

  @include breakpoint(medium-only) {
    margin: 100px 1rem;
  }

  @include breakpoint(small) {
    align-items: flex-start;
    flex-direction: column;
    margin: 100px 1rem 120px;
    text-align: center;
  }
}

.row {
  display: flex;
}

.info {
  width: 60%;
  z-index: 2;

  @include breakpoint(small) {
    width: 100%;
  }
}

.title {
  @include h1;

  @include breakpoint(small) {
    margin: 0 auto;
    max-width: 80%;
  }
}

.subtitle {
  @include h3;

  margin: 20px 0 50px;
}

.buttons {
  display: flex;
  @include breakpoint(small) {
    flex-direction: column;
  }
}

.start {
  @include button;

  @include breakpoint(medium-up) {
    margin-right: 30px;
  }

  @include breakpoint(small) {
    margin-bottom: 20px;
  }
}

.tutorial {
  @include button($style: outline);
}

.image {
  position: absolute;
  right: 1rem;
  width: 470px;

  @include breakpoint(small) {
    left: 170px;
    right: unset;
    top: 350px;
    width: 100%;
  }
}

.video {
  margin: 140px auto 0;
  max-width: 1024px;
  width: 100%;
  z-index: 2;

  @include breakpoint(large) {
    margin: 300px auto;
  }

  @include breakpoint(medium-only) {
    margin: 220px auto;
  }
}
