@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 12.5rem auto 0.6rem;
  max-width: $max-content;
  overflow: hidden;
  position: relative;

  @include breakpoint(medium-only) {
    margin: 12.5rem 1rem 0.6rem;
  }

  @include breakpoint(small) {
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 6.25rem 1rem 7.5rem;
    text-align: center;
  }
}

.row {
  display: flex;
}

.info {
  width: 60%;
  z-index: 2;

  @include breakpoint(medium-only) {
    width: 82%;
  }

  @include breakpoint(small) {
    width: 100%;
  }
}

.title {
  @include h1;

  @include breakpoint(small) {
    margin: 0 auto;
    max-width: 80%;
  }
}

.outerHeader {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  @include breakpoint(small) {
    justify-content: center;
  }

  > span {
    margin-right: 1.3rem;

    @include breakpoint(small) {
      margin-right: 0;
    }
  }

  @include breakpoint(small) {
    > span:nth-of-type(1) {
      margin-right: 0.6rem;
    }

    > span:last-of-type {
      margin-left: 0.6rem;
    }
  }
}

.animatingWord {
  height: 90px;
  margin-right: 1.3rem;
  overflow: hidden;

  @include breakpoint(medium-only) {
    width: 100%;
  }

  @include breakpoint(small) {
    height: 40px;
    margin-right: 0;
    width: 100%;
  }
}

.subtitle {
  @include h3;

  margin: 1.25rem 0 3rem;
}

.buttons {
  display: flex;

  @include breakpoint(small) {
    align-items: center;
    flex-direction: column;
  }
}

.buttonWrapper {
  overflow: hidden;
  position: relative;
  width: 170px;

  @include breakpoint(medium-up) {
    margin-right: 1.9rem;
  }

  @include breakpoint(small) {
    margin-bottom: 1.25rem;
  }
}

.start {
  @include button;
}

.letsGo {
  @include button;

  background-color: transparent;
  border: 2px solid $color-accent;
  color: $color-accent;
  left: 0;
  position: absolute;
  top: 0;
}

.tutorial {
  @include button($style: outline);

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: inset 0 0 0 2px $color-light;
  }
}

.image {
  position: absolute;
  right: 1rem;
  width: 29rem;

  @include breakpoint(small) {
    left: 10rem;
    right: unset;
    top: 22rem;
    width: 100%;
  }
}

.video {
  margin: 9rem auto 0;
  max-width: 64rem;
  width: 100%;
  z-index: 2;

  @include breakpoint(large) {
    margin: 19rem auto;
  }

  @include breakpoint(medium-only) {
    margin: 14rem auto;
  }
}
