@import '../../styles/variables';
@import '../../styles/extends';

.hero {
  background: $color-bg-1;
  color: $color-font;
  display: flex;
}

.hero-info {
  width: 60%;
  margin: 4% 5% 1% 8%;
}

.hero-info-title {
  @extend %type--heading-1;
  margin: 1%;
}

.hero-info-subtitle {
  @extend %type--heading-3;
  margin: 3% 1% 6% 1%;
}

.hero-info-buttons {
  margin: 1%;
  display: flex;
}

.hero-info-buttons-started {
  width: 171px;
  height: 48px;
  margin-right: 2%;
  background: $color-accent;
  color: $color-font-dark;
  border: 0;
  border-radius: 1px;
  font-size: 1rem;
}

.hero-info-buttons-tutorial {
  width: 171px;
  height: 48px;
  margin-left: 2%;
  color: $color-font;
  background: none;
  border: 1px solid $color-font;
  border-radius: 1px;
  font-size: 1rem;
}

.hero-media {
  width: 40%;
  margin: 3% 5% 1% 4%;
}
