@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background-color: $color-bg-grey;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 5rem 3.5rem 10rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 0rem 5rem;
    text-align: center;
  }
}

.inner {
  margin: 0 auto;
  max-width: $max-content;
  text-align: center;
  width: 100%;
}

.stickySection {
  background-color: $color-bg-grey;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;
  position: sticky;
  top: 3.5rem;
  z-index: 1;

  @include breakpoint(medium-only) {
    grid-template-columns: 100%;
  }

  @include breakpoint(small) {
    grid-template-columns: 100%;
  }
}

.gradientBlock {
  background-image: linear-gradient(to bottom, $color-bg-grey, transparent);
  bottom: -60px;
  height: 70px;
  position: absolute;
  width: $max-content;

  @include breakpoint(medium-only) {
    width: 100%;
  }

  @include breakpoint(small) {
    width: 100%;
  }
}

.title {
  @include display-xl;

  margin-top: 0;
  text-align: left;

  @include breakpoint(medium-only) {
    @include display-lg;

    text-align: center;
    margin-top: 1rem;
  }

  @include breakpoint(small) {
    @include display-lg;

    margin: 1rem 0 2rem 0;
    text-align: center;
  }
}

.mediaWrapper {
  @include video-aspect-ratio;

  @include breakpoint(medium-only) {
    justify-self: center;
    padding: 0 1rem;
    width: 70%;
  }

  @include breakpoint(small) {
    padding: 0 1rem;
  }
}

.contentWrapper {
  margin-top: 4.063rem;
  text-align: left;
  width: 100%;

  @include breakpoint(medium-only) {
    text-align: center;
  }

  @include breakpoint(small) {
    text-align: center;
  }
}

.contentBlock {
  margin-bottom: 3rem;
  width: 832px;

  @include breakpoint(medium-only) {
    width: 100%;
    padding: 0 1rem;
  }

  @include breakpoint(small) {
    width: 100%;
    padding: 0 1rem;
  }
}

.label {
  @include display-xs;

  color: $color-font;
  font-weight: 700;
  margin-bottom: 1rem;

  @include breakpoint(small) {
    @include text-lg;
  }
}

.description {
  @include text-xl;

  color: $color-black-0;

  @include breakpoint(small) {
    @include text-md;
  }
}
