@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background-color: $color-bg-grey;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 5rem 3.5rem 10rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 0rem 5rem;
    text-align: center;
  }
}

.inner {
  margin: 0 auto;
  max-width: $max-content;
  text-align: center;
  width: 100%;
}

.stickySection {
  background-color: $color-bg-grey;
  display: grid;
  grid-template-columns: 50% 50%;
  position: sticky;
  top: 3rem;
  z-index: 1;
}

.title {
  @include h1;

  margin-bottom: 2.5rem;
  text-align: left;

  @include breakpoint(small) {
    margin-bottom: 2rem;
  }
}

.mediaWrapper {
  @include video-aspect-ratio;

  @include breakpoint(medium-only) {
    padding: 0 1rem;
  }

  @include breakpoint(small) {
    padding: 0 1rem;
  }
}

.contentWrapper {
  margin-top: 4.063rem;
  text-align: left;
  width: 100%;
}

.contentBlock {
  margin-bottom: 3rem;
  width: 832px;
}

.label {
  @include display-xs;

  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  @include text-xl;
}
