@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background-color: $color-bg-grey;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 5rem 3.5rem 10rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 0rem 5rem;
    text-align: center;
  }
}

.inner {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'title media'
    'content content';

  margin: 0 auto;
  max-width: $max-content;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.title {
  @include h1;

  grid-area: title;
  margin-bottom: 2.5rem;

  @include breakpoint(small) {
    margin-bottom: 2rem;
  }
}

.mediaWrapper {
  @include video-aspect-ratio;

  grid-area: media;

  @include breakpoint(medium-only) {
    padding: 0 1rem;
  }

  @include breakpoint(small) {
    padding: 0 1rem;
  }
}

.contentWrapper {
  grid-area: content;
  margin-top: 4.063rem;
  text-align: left;
  width: 832px;
}

.contentBlock {
  margin-bottom: 3rem;
}

.label {
  @include display-xs;

  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  @include text-xl;
}
