@import '../../../styles/mixins';
@import '../../../styles/variables';

.outer {
  background-color: $color-dark;
}

.logo {
  height: 2rem;
}

.headline {
  @include display-xs;

  font-weight: 500;
  margin: 10px 0;
}
