@import '../../../styles/variables';
@import '../../../styles/mixins';

$gap: 0.75rem;
$gap-mobile-version: 1rem;

.container {
  align-items: center;
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  @include breakpoint(small) {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-bottom: 3.75rem;
    padding: 0;
  }
}

.containerRowReverse {
  flex-direction: row-reverse;

  @include breakpoint(small) {
    flex-direction: column-reverse;
  }
}

.info,
.image {
  width: 50%;

  @include breakpoint(small) {
    width: 100%;
  }
}

.image {
  display: flex;
  justify-content: center;
}

.info {
  .title {
    @include h1;

    // According to the new design
    font-weight: 500;
    line-height: 5rem;
    margin-top: $gap;

    @include breakpoint(small) {
      margin-top: 1.5rem;
    }
  }

  .description {
    @include h3;

    color: $color-grey-200;
    // According to the new design
    line-height: 1.875rem;
    margin: $gap 0;

    @include breakpoint(small) {
      margin: $gap-mobile-version 0;
    }
  }
}

.isHovered {
  cursor: pointer;
  color: $color-accent !important;
  text-decoration-line: underline;
}

.infoMedium {
  .title {
    // According to the new design
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.375rem;
    margin-top: 1rem;

    @include breakpoint(small) {
      margin-top: $gap;
    }
  }

  .description {
    // According to the new design
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

    color: $color-white-200;
  }

  .category {
    color: color-white-900;
  }
}

.imageLarge {
  @include breakpoint(small) {
    width: 400px;
  }
}

.imageMedium {
  margin: 7rem 0;

  @include breakpoint(small) {
    margin: 0;
  }
}

.author,
.date,
.category {
  // According to the new design
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.category {
  color: $color-grey-500;
  margin: 0;

  @include breakpoint(small) {
    margin-top: $gap;
  }
}

.author {
  font-weight: 500;
  margin: 0;
}

.date {
  color: $color-grey-500;
  margin-top: 0;
  margin-bottom: $gap;
}

.button {
  @include button($size: normal, $style: underline);

  font-size: 0.875rem;

  @include breakpoint(small) {
    margin: 0;
  }
}
