@import '../../styles/variables';
@import '../../styles/mixins';

.features {
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(medium-only) {
    margin: 0 5rem;
  }
}

.sectionTitle {
  @include h1;

  margin-bottom: 8rem;
  text-align: center;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
  }
}
