@import '../../styles/variables';
@import '../../styles/mixins';

.features {
  margin: 0 auto;
  max-width: $max-content;
}

.sectionTitle {
  @include h1;

  margin-bottom: 6rem;
  text-align: center;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6.25rem;
}

.button {
  @include button($size: normal-pill, $style: primary);
}
