@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
  grid-template-columns: 24rem 38rem 11rem;
  grid-template-rows: 1.25rem 5.625rem;
  grid-template-areas:
    'category category category'
    'title description authorWrapper';
  position: relative;

  padding: 1.5rem 0 3rem;

  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
}

.imageWrapper {
  left: 4rem;
  opacity: 0.5;
  position: absolute;
  top: -1.2rem;
  visibility: hidden;
  z-index: -1;
}

.imageWrapperShown {
  visibility: visible;
}

.category {
  color: $color-grey-500;
  // According to the new design
  font-size: 0.875rem;
  font-weight: 500;
  grid-area: category;
  line-height: 1.25rem;
  margin: 0;

  @include breakpoint(small) {
    margin-bottom: 0;
  }
}

.title {
  @include h3;

  cursor: pointer;
  font-weight: 500;
  grid-area: title;
  line-height: 1.875rem;
  margin: 0;

  &:hover {
    text-decoration-line: underline;
  }

  @include breakpoint(small) {
    margin-top: 0.5rem;
  }
}

.description {
  color: $color-grey-900;
  font-size: 1rem;
  font-weight: 400;
  grid-area: description;
  line-height: 1.5rem;
  margin: 0;
}

.authorWrapper {
  grid-area: authorWrapper;
  font-size: 0.875rem;
}

.author {
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 5px;
  margin-top: 0;

  @include breakpoint(small) {
    margin-top: 0.5rem;
  }
}

.date {
  color: $color-grey-500;
  margin-top: 0;
}

.container:first-child {
  @include breakpoint(small) {
    margin-top: 0;
  }

  &:before {
    content: '';
    border-bottom: solid 1px $color-grey-500;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.container:after {
  content: '';
  border-bottom: solid 1px $color-grey-500;
  left: 0;
  opacity: 0.15;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}
