@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background-color: $color-accent;
  padding: 7.5rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7.5rem 3.5rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 1rem 3rem;
    text-align: center;
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.text {
  color: $color-dark;
  width: 50%;

  @include breakpoint(small) {
    width: 100%;
  }
}

.sectionTitle {
  @include h1;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
  }
}

.startText {
  @include text-xl;

  color: $color-black-600;
  margin: 1.5rem 0;
  max-width: 545px;

  @include breakpoint(small) {
    margin: 2.5rem auto 1.5rem;
  }
}

.button {
  @include button($size: large, $style: secondary);

  margin-top: 1rem;
}

.image {
  display: flex;
  justify-content: flex-end;
  width: 50%;

  @include breakpoint(small) {
    margin: 4rem auto 0;
    width: 85%;
  }
}
