@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 2.25rem;

  @include breakpoint(small) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  @include breakpoint(large) {
    max-width: 34.875rem;
  }
}

.logoContainer {
  align-items: center;
  background-color: $color-dark;
  border-radius: 0.8125rem;
  border: 1px solid $color-grey-border;
  display: flex;
  height: 21.4375rem;
  justify-content: center;
  position: relative;
  width: 100%;

  @include breakpoint(small) {
    border-radius: 0.5rem;
    height: 13.1875rem;
    width: 100%;
  }

  @include breakpoint(medium-down) {
    border-radius: 8px;
    height: 21.4375rem;
    width: 100%;
  }

  @include breakpoint(large) {
    max-width: 34.875rem;
  }
}

.logo {
  height: 100%;
  position: relative;
  width: 100%;

  > span {
    margin: 4rem !important;
  }
}

.textContainer {
  font-weight: 25rem;
  letter-spacing: $letter-spacing-narrow;
  line-height: 1.5rem;
  padding: 2.123rem 0 4.125rem;

  @include breakpoint(small) {
    text-align: center;
  }

  a {
    border-bottom: 2px solid $color-font;
    color: $color-font;
    padding-bottom: 3.5px;
  }
}

.title {
  font-size: 1.125rem;
  padding: 1rem 0;
}

.text {
  font-size: 1rem;
  font-weight: normal;
}
