@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium-only) {
    margin: 0 3.5rem;
  }

  @include breakpoint(small) {
    align-items: center;
    margin: 0 0 5rem;
    max-width: 100%;
    width: 100%;
  }
}

.logo {
  height: 100px;
  position: relative;
  width: 360px;

  @include breakpoint(medium-only) {
    height: 80px;
    width: 280px;
  }

  @include breakpoint(small) {
    height: 60px;
    width: 200px;
  }
}

.textContainer {
  letter-spacing: $letter-spacing-narrow;
  line-height: 1.5rem;
  padding: 3.5rem 0;

  @include breakpoint(small) {
    padding: 0.5rem 0 0;
    text-align: center;
  }

  a {
    border-bottom: 2px solid $color-font;
    color: $color-font;
    padding-bottom: 3.5px;
  }
}

.title {
  font-size: 1.125rem;
  letter-spacing: $letter-spacing-narrow;
  margin: 0 0 1.25rem;

  @include breakpoint(small) {
    margin: 0 0 2.5rem;
  }
}

.text {
  @include h3;

  margin: 0 0 2.5rem;
  max-width: 550px;
}
