@import '../../styles/variables';
@import '../../styles/mixins';

.outer {
  background-color: $color-bg-grey;
  padding: 7rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
  }

  @include breakpoint(medium-up) {
    padding: 7rem 3.5rem;
  }

  @include breakpoint(small) {
    padding: 4rem 1rem;
    text-align: center;
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.sectionTitle {
  @include h1;

  margin-bottom: 8.5rem;
  text-align: center;

  @include breakpoint(small) {
    margin-bottom: 5rem;
    padding: 0;
  }
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 100%;

  @include breakpoint(small) {
    flex-direction: column;
    padding-bottom: 0.5rem;
  }
}

.mobile {
  @include breakpoint(medium-up) {
    display: none;
  }
}

.desktop {
  @include breakpoint(small) {
    display: none;
  }
}

.userImage {
  flex-shrink: 0;
  height: 394px;
  margin-right: 5.75rem;
  position: relative;
  width: 394px;

  @include breakpoint(small) {
    height: 215px;
    margin-bottom: 3rem;
    margin-right: 0;
    width: 215px;
  }
}

.logo {
  position: relative;
  height: 3.125rem;
  max-width: 270px;
  width: 100%;

  @include breakpoint(small) {
    height: 2rem;
  }
}

.user {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: $letter-spacing;
  margin: 1.5rem 0 0;
}

.jobTitle {
  letter-spacing: $letter-spacing;
  margin: 0.2rem 0 3rem;

  @include breakpoint(small) {
    margin: 0.2rem 0 1.5rem;
  }
}

.headline {
  @include h3;

  font-weight: 700;
}

.quote {
  @include h3;

  margin-bottom: 2.5rem;
}

.link {
  border-bottom: 1px solid $color-light;
  font-weight: 500;
  letter-spacing: $letter-spacing;
  padding-bottom: 0.3125rem;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  @include breakpoint(small) {
    margin-top: 4rem;
  }
}

.dot {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  margin: 0.375rem;
  width: 1.25rem;
}
