@import '../../styles/variables';
@import '../../styles/mixins';

.outer {
  background-color: $color-bg-grey;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
  }

  @include breakpoint(medium-up) {
    padding: 5rem 3.5rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 1rem;
    text-align: center;
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.sectionTitle {
  @include h1;

  margin-bottom: 5.5rem;
  text-align: center;

  @include breakpoint(small) {
    padding: 0;
  }
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  padding-bottom: 0.5rem;
  width: 100%;

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.mobile {
  @include breakpoint(medium-up) {
    display: none;
  }
}

.desktop {
  @include breakpoint(small) {
    display: none;
  }
}

.userImage {
  flex-shrink: 0;
  height: 24.625rem;
  margin-right: 5.75rem;
  position: relative;
  width: 24.625rem;

  @include breakpoint(small) {
    height: 13.4375rem;
    margin-right: 0;
    width: 13.4375rem;
  }
}

.logo {
  position: relative;
  height: 3.125rem;
  width: 100%;

  @include breakpoint(small) {
    height: 2rem;
  }
}

.user {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: $letter-spacing-narrow;
  margin: 1.5rem 0 0;

  @include breakpoint(small) {
    font-size: 1rem;
    margin: 0.8rem 0 2.5rem;
  }
}

.jobTitle {
  font-weight: 400;
}

.headline {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3rem 0 1.5rem;

  @include breakpoint(small) {
    font-size: 1.125rem;
    margin: 2.5rem 0 1.5rem;
  }
}

.quote {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  max-width: 550px;

  @include breakpoint(small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.link {
  border-bottom: 1px solid $color-light;
  font-weight: 500;
  letter-spacing: $letter-spacing-narrow;
  padding-bottom: 0.3125rem;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  @include breakpoint(small) {
    margin-top: 2.5rem;
  }
}

.dot {
  background-color: #6d6d6d;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  margin: 0.375rem;
  width: 1.25rem;
}

.active {
  background-color: #c4c4c4;
}
