@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  max-width: 386px;

  @include breakpoint(medium-only) {
    margin: 0 3.5rem;
  }

  @include breakpoint(small) {
    align-items: center;
    margin: 2.5rem 0 3rem;
    max-width: 100%;
    width: 100%;
  }
}

.logo {
  height: 100px;
  position: relative;
  width: 360px;

  @include breakpoint(medium-only) {
    height: 80px;
    width: 280px;
  }

  @include breakpoint(small) {
    height: 60px;
    width: 200px;
  }
}

.textContainer {
  line-height: 1.5rem;
  padding: 2rem 0;

  @include breakpoint(small) {
    padding: 0.5rem 0 0;
    text-align: center;
  }
}

.title {
  @include text-sm;

  color: $color-grey-500;
  font-weight: 500;
  margin: 0 0 2rem;

  @include breakpoint(small) {
    margin: 0 0 1rem;
  }
}

.text {
  @include text-xl;

  margin: 0 0 2.5rem;

  @include breakpoint(small) {
    margin: 0 0 1.5rem;
  }
}

.button {
  @include button($style: underline);
}
