@import '../../../styles/variables';

.tab-header {
  width: min-content;
  margin: auto;
  justify-content: center;
}

.tab-list {
  display: flex;
}

.indicator {
  border: 1px solid $color-font-grey;
  margin: -12px;
  margin-bottom: 100px;
}

.why-tab-info {
  background: pink;
}
