@import '../../styles/variables';
@import '../../styles/mixins';

.outer {
  background: $color-dark;
  padding: 7rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7rem 5rem;
  }

  @include breakpoint(small) {
    padding: 4rem 2rem 4rem;
    text-align: center;
  }
}

.inner {
  background: $color-dark;
  display: flex;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(medium-only) {
    flex-direction: column;
  }

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.left {
  align-items: center;
  justify-content: right;
  display: flex;
  padding-right: 1.5rem;
  width: 45%;

  @include breakpoint(medium-only) {
    justify-content: left;
    width: 100%;
  }

  @include breakpoint(small) {
    justify-content: left;
    width: 100%;
  }
}

.title {
  @include h5;

  @include breakpoint(small) {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.12rem;
  }
}

.right {
  overflow: hidden;
  position: relative;
  width: 50%;

  @include breakpoint(medium-only) {
    margin-top: 2.5rem;
    width: 100%;
  }

  @include breakpoint(small) {
    margin-top: 2.5rem;
    width: 100%;
  }
}

.animation {
  position: absolute;
  top: 40%;
}

.animationMask {
  background-image: linear-gradient(
    $color-dark,
    transparent,
    transparent,
    $color-dark
  );
  height: 480px;
  position: relative;

  @include breakpoint(small) {
    height: 250px;
  }
}

.animationWindow {
  position: relative;
}

.animation ul {
  position: relative;
  list-style: none;
  top: -290px;
  padding: 0;
  margin: 0;
  transition: top 300ms;

  @include breakpoint(medium-only) {
    width: auto;
  }

  @include breakpoint(small) {
    width: auto;
  }
}

.animation li {
  @include h5;

  float: left;
  clear: both;

  @include breakpoint(small) {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.12rem;
  }
}

.active {
  color: $color-accent;
}
