@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    font-size: 3rem;
    font-weight: 700;
    line-height: 93px;
    display: flex;

}

.left {
  width: 60%;
  position: relative;
}

.right {
  width: 40%;
  position: relative;
  overflow: hidden;
}


.animation {
    vertical-align: sub;
    height: 1.2em;
    top: 46%;
    position: absolute;

    
  }

.title {
  position: absolute;
  top: 40%;
  left: 10%;


  
}
  
@keyframes center-animate {
    0% {
        width: var(--firstWidth);
    }
    50% {
        width: var(--secondWidth);
    }
    100% {
        width: var(--finalWidth);
    }
}

.animationMask {
  position: relative;
  height: 800px;
  background-image: linear-gradient(#0B0B0B,#0B0B0B, transparent, transparent,#0B0B0B, #0B0B0B);
  z-index: 2;
}

.animationGray {
    position: absolute;
    color: $color-light;
    max-height: 400px;
    // overflow: hidden;

}
 
.animationWindow {
    position: relative;
    height: 100px;
    overflow: hidden;
    background: #ffbc00;
    color: black;
    animation: center-animate 3s infinite ease; 
  }


  
  
  .animation ul {
    position: relative;
    list-style: none;
    top: 0;
    padding: 0;
    margin: 0;
    transition: top 300ms;
    width: var(--firstWidth)
  }
  
  .animation li {
    margin: 0 .2em;
    float: left;
    clear: both; 
    text-align: center;
  }
