.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 18rem;
  max-width: 1235px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 90px;
  margin: 0;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.text {
  justify-content: center;
  align-content: center;
  margin: auto 10px;
}

// .shadowBottom {
//     width: 100%;
//     position: relative;
//   }
  
// .shadowBottom {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 40px;
//     // background-image: linear-gradient(
//     //   to bottom,
//     //   rgba(0, 0, 0, 0),
//     //   rgba(0, 0, 0, 1) 100%
//     // );
//   }


.list {
  list-style-type: none;
  height: 100px;
  -ms-overflow-style: none; 
    scrollbar-width: none; 
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
    display: none; 
}

