@import '../../../styles/variables';
@import '../../../styles/mixins';

.authorDetailWrapper {
  display: flex;
  padding-top: 2rem;
}

.imageWrapper {
  height: 3rem;
  margin-right: 0.75rem;
  width: 3rem;
}

.image {
  border-radius: 50%;
}

.name {
  @include text-md;

  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.jobTitle {
  @include text-md;
}
