@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background: $color-dark;
  padding: 7rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7rem 5rem;
  }

  @include breakpoint(small) {
    padding: 4rem 2rem 4rem;
  }
}

.inner {
  display: flex;
  margin: 0 auto;
}

.titleContainer {
  white-space: nowrap;
  .title {
    @include display-md;
    line-height: 7rem;
    font-weight: 500;
    padding-right: 2em;
    @include breakpoint(small) {
      font-size: 2rem;
      line-height: 7.25rem;
      margin-bottom: 2.5rem;
      padding-right: 1.5em;
    }
  }
}

.carouselWrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  position: relative;
  @include carousel-gradient(
    $gradient-color: rgba(0, 0, 0, 0),
    $actual-color: rgba(0, 0, 0, 1),
    $direction: to right
  );
}

.carouselAnimate {
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-auto-flow: column;
  flex-shrink: 0;
  min-width: 100%;
  display: grid;
  position: relative;
  animation: spin 50s linear infinite;
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
