@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background: $color-dark;
  padding: 7rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7rem 7rem;
  }

  @include breakpoint(small) {
    padding: 4rem 2rem 4rem;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(small) {
    align-items: center;
  }
}

.titleContainer {
  margin-bottom: 1rem;
  white-space: nowrap;

  @include breakpoint(small) {
    margin-bottom: 0;
  }

  .title {
    @include display-md;

    font-weight: bold;
    line-height: 7rem;

    @include breakpoint(small) {
      font-size: 2rem;
    }
  }
}

.carouselWrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include carousel-gradient(
    $gradient-color: rgba(0, 0, 0, 0),
    $actual-color: rgba(0, 0, 0, 1),
    $direction: to right
  );
}

.carouselAnimate {
  align-items: center;
  animation: slide 50s linear infinite;
  display: grid;
  flex-shrink: 0;
  gap: 0.5rem;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  justify-items: center;
  min-width: 100%;
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
