@import '../styles/variables';
@import '../styles/mixins';

.featured {
  background: #000;
  color: #fff;
  margin-top: $header-height;
}

.secondary {
  background: #242424;
  color: #fff;
}

.featured {
  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7.25rem 21rem;
  }

  @include breakpoint(small) {
    padding: 0 1rem 1.5rem;
    text-align: start;
  }
}

.secondary,
.allBlogs {
  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 5rem 21rem;
  }

  @include breakpoint(small) {
    padding: 3rem 1rem 1rem;
    text-align: start;
  }
}

.secondaryTitle {
  @include h3;
  margin: 0 0;
  font-weight: 500;

  @include breakpoint(small) {
    margin-bottom: 1.5rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.showMoreButton {
  @include button($size: normal, $style: primary);

  margin: 3.125rem 0;

  @include breakpoint(small) {
    margin: 2rem;
  }
}

.animationWrapper {
  opacity: 0;
  transform: translateY(-2%);

  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(2%);
  }
  to {
    opacity: 1;
  }
}

.animationDelay1 {
  animation-delay: 0.3s;
}

.animationDelay2 {
  animation-delay: 0.6s;
}
