@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  margin: 0 auto;
  max-width: $max-content;
  margin-bottom: 10rem;

  @include breakpoint(small) {
    margin-bottom: 5rem;
  }

  &.center {
    text-align: center;

    .title {
      @include display-md;

      margin-bottom: 1.75rem;
    }

    .subtitle {
      @include text-xl;

      margin: 0 auto 1rem;
      max-width: 832px;

      @include breakpoint(small) {
        margin: 0 auto 2.5rem;
      }
    }

    .button {
      @include button($style: primary);

      margin-bottom: 3.125rem;

      @include breakpoint(small) {
        margin-bottom: 2rem;
      }
    }

    .asset {
      border-radius: 4px;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 950px;

      @include breakpoint(small) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &.left {
    flex-direction: row-reverse;

    .text {
      @include breakpoint(medium-only) {
        margin-left: 1rem;
      }
    }
  }

  &.right {
    .text {
      @include breakpoint(medium-only) {
        margin-right: 1rem;
      }
    }

    & .iframe {
      margin-left: -55px;

      @include breakpoint(medium-only) {
        margin-left: 50px;
      }
    }
  }

  &.left,
  &.right {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include breakpoint(small) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    .text {
      max-width: 37%;

      @include breakpoint(small) {
        max-width: unset;
        width: 100%;
      }
    }

    .asset {
      max-width: 660px;

      @include breakpoint(small) {
        max-width: unset;
        width: 100%;
      }
    }

    .subtitle {
      margin-bottom: 2rem;

      @include breakpoint(small) {
        margin-bottom: 2.5rem;
      }
    }

    .text .buttonWrapper {
      @include breakpoint(large) {
        display: block;
      }

      @include breakpoint(medium-only) {
        display: block;
      }

      @include breakpoint(small) {
        display: none;
      }
    }

    .buttonWrapper {
      @include breakpoint(large) {
        display: none;
      }

      @include breakpoint(medium-only) {
        display: none;
      }
    }
  }
}

.featureIndex {
  @include text-xl;

  color: $color-black-divider;
  display: block;
  margin-bottom: 1.5rem;
}

.title {
  @include display-xs;

  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;

  @include breakpoint(small) {
    letter-spacing: $letter-spacing;
    margin-bottom: 1rem;
  }
}

.subtitle {
  @include text-xl;

  color: $color-white-900;

  @include breakpoint(small) {
    padding: 0 1rem;
  }

  > a {
    color: $color-white-900;
    text-decoration: underline;
    transition: color $transition-time ease;

    &:hover {
      color: $color-accent;
    }
  }
}

.iframe {
  width: 770px;

  @include breakpoint(medium-only) {
    width: 460px;
  }

  @include breakpoint(small) {
    display: none;
  }
}

.iframeFallback {
  @include breakpoint(medium-up) {
    display: none;
  }
}

.asset {
  @include breakpoint(small) {
    margin-bottom: 2.5rem;
    order: -1; // Assets should be the first thing in the section on mobile.
    padding: 0 1rem;
  }
}

.pipelineAbstraction {
  @include breakpoint(large) {
    margin-left: -55px;
  }
}

.youtube {
  @include video-aspect-ratio;

  > .iframe {
    display: block;
  }
}

.buttonWrapper {
  @include breakpoint(small) {
    margin-bottom: 2.5rem;
  }
}

.button {
  @include button($style: underline);
}
