@import '../../../styles/variables';
@import '../../../styles/mixins';

.outer {
  background-color: $color-bg-grey;
  padding: 7.5rem 0;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
    padding: 7.5rem 3.5rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 1.5rem 2rem;
  }
}

.inner {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-content;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.sectionTitle {
  @include display-md;

  font-weight: 500;
  margin: 0;
  margin-right: 4rem;
  width: 30%;

  @media (max-width: 1000px) {
    margin-bottom: 2.5rem;
    text-align: center;
    width: 100%;
  }

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @include breakpoint(medium-up) {
    flex-direction: row;
  }
}
