@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  background-color: $color-bg-grey;
  padding: 7rem 3rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(medium-up) {
    margin: 0 -7rem;
  }
}

.sectionTitle {
  @include h1;

  margin-bottom: 5rem;
  text-align: center;
  padding: 5.5875rem 0;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
    padding: 0;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;

  @include breakpoint(large) {
    flex-direction: row;
    padding: 0 1rem;
    margin: 0 3.125rem;
  }
}
