@import '../../styles/variables';
@import '../../styles/mixins';

.outer {
  background-color: $color-bg-grey;
  padding: 5rem 0 10rem;

  @include breakpoint(medium-up) {
    margin: 0 -3.5rem;
  }

  @include breakpoint(small) {
    padding: 2.5rem 1.5rem 0;
  }
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-content;

  @include breakpoint(small) {
    flex-direction: column;
  }
}

.sectionTitle {
  @include h1;

  margin-bottom: 8rem;
  text-align: center;

  @include breakpoint(small) {
    margin-bottom: 2.5rem;
    padding: 0;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @include breakpoint(medium-up) {
    flex-direction: row;
  }
}
