@import '../../../styles/variables';
@import '../../../styles/mixins';

.postBody {
  @include text-lg;

  color: $color-grey-900;
  max-width: 904px;

  h2 {
    @include display-sm;

    color: $color-dark;
    font-weight: 500;
    margin: 0 0 1.5rem;

    &:not(:first-of-type) {
      margin-top: 6.5rem;
    }
  }

  pre {
    @include breakpoint(medium-up) {
      margin: 4.5rem 0 !important;
    }

    @include breakpoint(small) {
      margin: 3rem 0 !important;
    }
  }

  blockquote {
    @include display-sm;

    border-left: 2px solid $color-accent;
    color: $color-slate;
    font-style: italic;
    font-weight: 500;
    line-height: 2.75rem;
    padding-left: 20px;

    p {
      margin: 0;
    }

    p:last-of-type {
      @include text-md;

      font-style: normal;
      font-weight: 400;
      margin-top: 2rem;
    }

    @include breakpoint(medium-up) {
      margin: 4.5rem 0;
    }

    @include breakpoint(small) {
      margin: 3rem 0;
    }
  }

  p code {
    background-color: $color-white-500;
    color: $color-grey-900;
    font-weight: 500;
    padding: 4px 8px 6px;
  }

  ol > li p {
    margin: 0;
  }
}

.postBodyImgContainer {
  @include breakpoint(medium-up) {
    margin: 4.5rem 0;
  }

  @include breakpoint(small) {
    margin: 3rem 0;
  }

  .postBodyImgCaption {
    @include text-sm;
  }
}

.postBodyCallout {
  background-color: $color-white-100;
  border-radius: 1rem;
  margin: 4.5rem 0;
  padding: 2rem 2rem 2.5rem;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.bottomDivider {
  background-color: $color-white-200;
  border: none;
  height: 1px;
  margin: 4.5rem 0 0;
  width: 100%;
}
