@import '../../../styles/variables';
@import '../../../styles/mixins';

$gap: 0.75rem;
$gap-mobile-version: 1rem;

.container {
  align-items: center;
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  @include breakpoint(medium-only) {
    padding: 0 0.5rem;
  }

  @include breakpoint(small) {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-bottom: 3.75rem;
    padding: 0;
  }
}

.containerRowReverse {
  flex-direction: row-reverse;

  @include breakpoint(small) {
    flex-direction: column-reverse;
  }
}

.info,
.image {
  width: 50%;

  @include breakpoint(small) {
    width: 100%;
  }
}

.image {
  display: flex;
  justify-content: center;
}

.info {
  .title {
    @include display-2xl;

    font-weight: 500;
    margin-top: $gap;

    @include breakpoint(medium-only) {
      @include display-xl;
    }

    @include breakpoint(small) {
      @include display-md;
      margin-top: 1.5rem;
    }
  }

  .description {
    @include text-xl;

    color: $color-grey-200;
    margin: $gap 0;

    @include breakpoint(medium-only) {
      @include text-lg;
    }

    @include breakpoint(small) {
      @include text-xl;
      margin: $gap-mobile-version 0;
    }

    &.descriptionOnPostPage {
      color: $color-grey-900;
    }
  }
}

.isHovered {
  cursor: pointer;
  color: $color-accent !important;
  text-decoration-line: underline;
}

.infoMedium {
  .title {
    @include display-sm;

    font-weight: 500;
    margin-top: 1rem;

    @include breakpoint(small) {
      margin-top: $gap;
    }
  }

  .description {
    @include text-md;
    font-weight: 400;

    color: $color-white-200;
  }

  .category {
    color: color-white-900;
  }
}

.imageMedium {
  margin: 7rem 0;

  @include breakpoint(small) {
    margin: 0;
  }
}

.imageLarge {
  @include breakpoint(small) {
    width: 100vw;
  }
}

.author,
.date,
.category {
  @include text-sm;

  font-weight: 500;
}

.category {
  color: $color-grey-500;
  margin: 0;

  @include breakpoint(small) {
    margin-top: $gap;
  }
}

.author {
  font-weight: 500;
  margin: 0;
}

.date {
  color: $color-grey-500;
  margin-top: 0;
  margin-bottom: $gap;
}

.button {
  @include button($size: normal, $style: underline);
  @include text-sm;

  @include breakpoint(small) {
    margin: 0;
  }
}
