/**
*** Buttons
**/

@mixin button($size: normal, $style: primary) {
  border-radius: 4rem;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  min-width: 9.375rem;

  @if $size == normal {
    font-size: 1rem;
    height: 3rem;
    padding: 0 1.5rem;
  }

  @if $size == normal-pill {
    backface-visibility: hidden;
    border-radius: 4rem;
    font-size: 1rem;
    height: 3rem;
    padding: 0 2.5rem;
    transform: translateZ(0);
    transition: opacity $transition-time ease, transform $transition-time ease;

    &:hover {
      @include scale-transition();
    }
  }

  @if $size == large {
    backface-visibility: hidden;
    border-radius: 4rem;
    font-size: 1.25rem;
    height: 3.75rem;
    padding: 0 2.5rem;
    transform: translateZ(0);
    transition: opacity $transition-time ease, transform $transition-time ease;

    &:hover {
      @include scale-transition();
    }

    @include breakpoint(small) {
      font-size: 1rem;
      height: 4rem;
      padding: 0 2rem;
    }
  }

  @if $style == primary {
    background: $color-accent;
    border: 0;
    color: $color-font-dark;
  }

  @if $style == secondary {
    background: $color-font;
    border: 0;
    color: $color-font-dark;
  }

  @if $style == outline {
    background: none;
    border: 1px solid $color-font;
    color: $color-font;
  }

  @if $style == underline {
    backface-visibility: hidden;
    background: none;
    border: none;
    border-bottom: 2px solid $color-font;
    border-radius: 0;
    color: $color-font;
    font-weight: 500;
    height: auto;
    line-height: 1.375rem;
    min-width: unset;
    padding: 0;
    padding-bottom: 3.5px;
    transform: translateZ(0);
    transition: border-bottom-color $transition-time ease,
      color $transition-time ease, opacity $transition-time ease,
      transform $transition-time ease;
    white-space: nowrap;

    &:hover {
      border-bottom-color: $color-accent;
      color: $color-accent;

      @include scale-transition();
    }
  }
}

/**
*** Breakpoints
**/

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1235px) {
      @content;
    }
  } @else if $point == medium-up {
    @media (min-width: 820px) {
      @content;
    }
  } @else if $point == medium-only {
    @media (min-width: 820px) and (max-width: 1234px) {
      @content;
    }
  } @else if $point == medium-down {
    @media (min-width: 415px) and (max-width: 819px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 819px) {
      @content;
    }
  }
}

/**
*** Headings
**/

@mixin h1 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 90px;
  margin: 0;

  @include breakpoint(small) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin h2 {
  font-size: 2.5rem;

  @include breakpoint(small) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

@mixin h3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6875rem;

  @include breakpoint(small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

/**
*** New Headings
**/

@mixin display-2xl {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: $letter-spacing;
  line-height: 5rem;
  margin: 0;
}

@mixin display-xl {
  font-size: 3.75rem;
  letter-spacing: $letter-spacing;
  line-height: 4.5rem;
}

@mixin display-lg {
  font-size: 3rem;
  letter-spacing: $letter-spacing;
  line-height: 3.75rem;
}

@mixin display-md {
  font-size: 2.25rem;
  letter-spacing: $letter-spacing;
  line-height: 2.75rem;
}

@mixin display-sm {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

@mixin display-xs {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin text-xl {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin text-xs {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

/**
*** Other
**/

@mixin scale-transition {
  transform: scale(0.98);
}

@mixin video-aspect-ratio {
  aspect-ratio: 16 / 9;
  height: 100%;
  position: relative;
  width: 100%;
}
