@mixin button($size: normal, $style: primary) {
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  height: 48px;
  width: 170px;

  @if $style == primary {
    background: $color-accent;
    border: 0;
    color: $color-font-dark;
  }

  @if $style == outline {
    background: none;
    border: 1px solid $color-font;
    color: $color-font;
  }
}

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) and (max-width: 1279px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@mixin h1 {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 90px;
  margin: 0;

  @include breakpoint(small) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin h2 {
  font-size: 2.4em;
  letter-spacing: -0.1px;
  line-height: 1.4;
}

@mixin h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.26px;
  line-height: 34px;

  @include breakpoint(small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
