/**
*** Colors
**/

$color-accent: #ffbc00;
$color-dark: #000000;
$color-bg-grey: #1e1e1f;
$color-font-dark: #0b0b0b;
$color-font-grey: #8e8e8e;
$color-font: #ffffff;
$color-grey-border: #434343;
$color-grey-200: #d5d8da;
$color-grey-500: #97a0a6;
$color-grey-900: #4c5b64;
$color-black-700: #242424;
$color-white-200: #f2f3f4;
$color-white-900: #c6cace;
$color-slate: #2a3b46;

/**
*** Dimensions
**/

$letter-spacing: 0.01875rem; // 0.3px
$max-content: 1235px;
$blog-max-content: 1280px;
$header-height: 60px;

/**
*** Other
**/

$transition-time: 0.2s;
