/**
*** Colors
**/

$color-accent: #ffbc00;
$color-dark: #000000;
$color-bg-grey: #1e1e1f;
$color-font-dark: #0b0b0b;
$color-font-grey: #8e8e8e;
$color-font: #ffffff;
$color-grey-border: #434343;

/**
*** Dimensions
**/

$letter-spacing: 0.01875rem; // 0.3px
$max-content: 1235px;
$header-height: 60px;

/**
*** Other
**/

$transition-time: 0.2s;
