/**
*** Colors
**/

$color-accent: #ffbc00;
$color-bg-1: #0b0b0b;
$color-dark: black;
$color-font-dark: #0b0b0b;
$color-font-grey: #8e8e8e;
$color-font: #e2e2e2;
$color-light: white;

/**
*** Dimensions
**/

$max-content: 1285px;
