@import 'variables';
@import 'mixins';

html,
body {
  background: $color-bg-1;
  color: $color-font;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  @include breakpoint(medium-only) {
    margin: 0 2.5rem;
  }
}

a {
  color: $color-accent;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}
