@import 'variables';
@import 'mixins';

html,
body {
  background: $color-bg-1;
  color: $color-font;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: $color-accent;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:target:before {
  content: '';
  display: block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}
