@import 'variables';
@import 'mixins';

html,
body {
  -webkit-font-smoothing: antialiased;
  color: $color-font;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  @include breakpoint(medium-up) {
    margin: 0 3.5rem;
  }
}

a {
  text-decoration: none;
}

p {
  color: $color-white-900;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:target:before {
  content: '';
  display: block;
  height: $header_height; /* fixed header height*/
  margin: -($header_height - 50px) 0 0; /* negative fixed header height */
}
